/* .delivered_click{
    margin: 15px 0;
    padding: 12px;
    background-color:#516be9;
    color:rgb(14, 5, 5);
    width: 50%;
    font-size: 20px;
    border-radius: 0.5rem;
    } */
    .add{
        text-align: center;
        margin-bottom: 30px;
    
    }