.row_container{
    display: flex;
    margin: auto;
}
.delivered_click{
margin: 15px 0;
padding: 12px;background-color:#69dd33;
color:rgb(14, 5, 5);
width: 50%;
font-size: 20px;
border-radius: 0.5rem;
}
.add_click{
margin: 10px 0;
padding: 12px;background-color:#8c0de0;
color:rgb(245, 240, 240);
width: 10%;
font-size: 20px;
border-radius: 0.5rem;
}

.restock_items{
text-align: center;
justify-content: center;
align-items: center;
margin-bottom: 50px;
}
.quantity{
    border:2px solid rgb(181, 8, 234);
    width: 20%;
    margin: auto;
    height: 30px;
    border-radius: 0.5rem;
}